/* fonts import */

/* fonts import -END */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Sharp Grotesk Book 20' !important;
}

:root {
    --nevi-blue: #00154C;
    --primary-2: #D4F941;
    --primary: #5648FF;

}

/* reset, root - END */

// container resize
.container {
    @media (min-width: 1400px) {
        max-width: 1590px;
    }
}

// container resize - end

/* helper , base classes */

// text-color
.text-clr-neviBlue {
    color: var(--nevi-blue);
}

.text-clr-primary2 {
    color: var(--primary-2);
}

.text-clr-primary {
    color: var(--primary);
}

// BG color
.bg-clr-neviBlue {
    background-color: var(--nevi-blue);
}

.bg-clr-primary2 {
    background-color: var(--primary-2);
}

.bg-clr-primary {
    background-color: var(--primary);
}

/* Font family */
.ff-sg-light-25 {
    font-family: 'Sharp Grotesk Light 25';
}

.ff-sg-semibold-25 {
    font-family: 'Sharp Grotesk SemiBold 25';
}

.ff-sg-medium-25 {
    font-family: 'Sharp Grotesk Medium 25';
}

.ff-sg-book-20 {
    font-family: 'Sharp Grotesk Book 20';
}

.ff-sg-semibold-20 {
    font-family: 'Sharp Grotesk SemiBold 20';
}

.ff-sg-medium-20 {
    font-family: 'Sharp Grotesk Medium 20';
}

.ff-sg-light-20 {
    font-family: 'Sharp Grotesk Light 20';
}

.ff-sg-bold-20 {
    font-family: 'Sharp Grotesk Bold 20';
}

/* Font family */


.fs-20 {
    font-size: 20px;
    line-height: 30px;
}
.fs-14 {
    font-size: 14px;
    line-height: 22px;
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.box-shadow {
    box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1);
}

.radius-10 {
    border-radius: 10px;
}


/* helper , base classes  - END*/


/* navbar  - start*/
.navbar{


    
    
  .btn-flow {
      --btn-flow-size: 16px;
      --btn-flow-height: 42px;
      height: var(--btn-flow-height);
      font-size: var(--btn-flow-size);
      display: inline-flex;
      align-items: center;
      padding: 7px 24px !important;
      color: var(--nevi-blue);
      transition: all 0.3s;
  
      &.btn-flow-fill {
          background-color: var(--nevi-blue) !important;
          color: #fff;
  
          &:hover {
              background-color: var(--primary-2) !important;
              color: var(--nevi-blue) !important;
          }
      }
  }
  
  .button-effect {
      --background: var(--theme-yellow);
      --font-size: var(--btn-flow-size);
      --text: currentColor;
      --duration: 0.44s;
      --move-hover: -4px;
      line-height: var(--font-size);
      border: 0;
      outline: none;
      text-decoration: none;
      transform: translateY(var(--y));
      transition: all 0.3s;
  
      div {
          display: flex;
          overflow: hidden;
          text-shadow: 0 var(--font-shadow) 0 var(--text);
  
          span {
              display: block;
              backface-visibility: hidden;
              font-style: normal;
              transition: transform var(--duration) ease;
              transform: translateY(var(--m));
              $i: 1;
  
              + span {
                  margin-left: 5px;
              }
  
              @while $i < 12 {
                  &:nth-child(#{$i}) {
                      transition-delay: $i / 20 + s;
                  }
  
                  $i: $i + 1;
              }
          }
      }
  
      &:hover {
          --shadow: var(--shadow-hover);
  
          span {
              --m: calc(var(--font-size) * -1);
          }
      }
  
      &.reverse {
          --font-shadow: calc(var(--font-size) * -1);
  
          &:hover {
              span {
                  --m: calc(var(--font-size));
              }
          }
      }
  }
}
/* navbar  - END*/


/* banner  - start*/
.banner{
.banner-content-wrap{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 140px 90px;

    .banner-title{
        color: #00154C;
        font-size: 82px;
        line-height: 96px; 
    }

}
}
.common-btn{
    position: relative;
    transition: all 0.2s linear;
    z-index: 10;
    height: 60px;
    padding: 0 40px;

    svg *{
        transition: all 0.4s linear;
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: "";
        width: 0px;
        height: 100%;
        background-color: var(--nevi-blue);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        z-index: -1;
        
    }
    &:hover {
        border-color: var(--clr-black);
        color: #fff;

        svg *{
            fill: var(--primary-2);
          
        }
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;
            border-radius: 100px;
        }
    }
}
/* banner  - END*/

